html
{
	background-color:#0000FF;
}

.biglink:link
{
	font-size:2em;
	text-decoration:none;
	text-shadow: 0 0 2px #FFFFFF, 0 0 2px #FFFFFF;
	color:#FFFFFF;
}

.biglink:visited
{
	font-size:2em;
	text-decoration:none;
	text-shadow: 0 0 2px #FFFFFF, 0 0 2px #FFFFFF;
	color:#FFFFFF;
}

.biglink:hover
{
	font-size:2em;
	text-decoration:underline;
	text-shadow: 0 0 2px #FFFFFF, 0 0 2px #FFFFFF;
	color:#FFFFFF;
}

.biglink:active
{
	font-size:2em;
	text-decoration:underline;
	text-shadow: 0 0 2px #FFFFFF, 0 0 2px #FFFFFF;

	color:#FFFFFF;
}

.landingcontainer
{
 	display: flex;
    justify-content: center;
    align-items: center;
    margin-top:20%;
}

.landing
{
	width:50%;
}